.body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}


.btn h1 {
  align-items: center;
  align-content: center;
  padding: 0;
  margin: 20% 50%;
  margin-bottom: 2px;
}

.btn button {
  margin: 0% 48%;
  height: 100px;
  width: 100px;
}